.notFound {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rotate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    border: 20px solid black;
    border-radius: 50%;
    box-shadow: 0 0 10px black, inset 0 0 10px black;

    animation: rotate infinite 4s;
}

.rotate span {
    font-size: 250px;
    text-shadow: 0 0 10px black;
}

.notFound a {
    cursor: pointer;
    font-size: 26px;
    padding: 5px;
    margin: 15px;
    text-decoration: none;
}

@keyframes rotate {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(0.7) rotate(360deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}