.card {
    position: relative;
    width: 300px;
    padding: 15px;
    border: 1px solid #afafaf;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px lightgray;
    transition: .3s;
    text-align: center;
}

.card:hover {
    transform: scale(1.03);
    transition: .3s;
}

.cardStats{
    font-size: 18px;
}

.cardStatsValue{
    font-size: 18px;
    font-weight: bold;
}

.cardButton{
    width: 90%;
}