.loginPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginPage a {
    color: green;
}

.h2 {
    text-shadow: 0 0 1px black;
    text-align: center;
    font-size: 32px;
}

.h4 {
    text-align: center;
    margin: 5px 0;
}