.navbar ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none
}

.navbar ul li:not(:last-child) {
    margin-right: 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.navbar ul li a :active {
    text-decoration: none;
    color: black;
}

.linkActive {
    font-weight: bold;
    text-shadow: 0 0 2px black;
}