.registerPage {

}

.registerContainer {
    display: flex;
    flex-direction: column;
}

.registerForm {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}