.passRecovery {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.passRecovery h3 {
    display: inline-block;
    text-align: center;
}

.recoveryForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recoveryForm label {
    display: inline-block;
}

.recoveryForm input {
    max-width: 300px;
    width: 80%;
    margin: 10px 0;
}